.caja {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    width: 800px;
    height: 300px;
    position: relative;
}

.imagen {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
}